.listings {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
}

.listings h2 {
    color: black;
    font-size: 1.7rem;
    margin: 0;
    padding: 1rem 0rem 0rem 0rem;
    text-align: left;
}

.results {
    font-size: 1rem;
    color: darkgray;
    padding: 0rem 0rem 1rem 0rem;
    text-align: left;
    margin: 0;
}

.listing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: black;
    text-align: left;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.listing:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.listing:hover h3 {
    color: darkblue;
}

.listing img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.ad-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
}

.ad-content h3 {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

.ad-content p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.ad-content #price {
    color: darkgreen;
    margin-bottom: 0.5rem;
}

.ad-content #description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: fit-content !important;
    resize: none !important;
}

.page-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: black;
    margin: 0;
    font-size: 1.2rem;
}

.sub-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: darkgray;
    margin-bottom: 1rem;
}

.post-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1rem;
    align-items: center;
    color: darkgray;
}

li, .next {
    cursor: pointer;
}

.active {
    color: rgb(112, 112, 255);
    cursor: not-allowed;
}

.disabled {
    color: darkgray;
    cursor: not-allowed;
}

.page-row.bottom {
    padding: 1rem 0rem 0rem 0rem;
    justify-content: right;
}

@media screen and (max-width: 1024px) {
    .listings {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .listings h2 {
        text-align: center;
        margin-bottom: 0.5rem;
        padding: 0;
    }

    .page-row {
        flex-direction: column;
    }

    .pagination, .results {
        text-align: center;
        justify-content: center; 
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .listing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-container, .ad-content {
        justify-content: center !important;
        max-width: 100% !important;
    }

    .ad-content #description {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .post-info {
        margin-top: 1rem;
    }
}

.delete-button {
    color: rgb(199, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 5%;
}