:root {
  --shadow: rgba(0, 0, 0, 0.087) 0px 5px 15px 0px;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #00448b;
  justify-content: center;
}

.nav img {
  width: 80px;
  object-fit: contain;
}

.nav.container {
  display: flex;
  flex-direction: row;
  margin: 1rem 7rem 1rem 7rem;
}

#mobile {
  display: none;
  font-size: 1rem;
  margin: 1rem 3rem 1rem 3rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile-left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 80%;
}

.mobile-right {
  display: flex;
  width: 20%;
  justify-content: right;
}

.nav-icon {
  color: white;
  transition: 0.5s ease-in-out;
}

.nav-icon.active {
  color: lightblue;
  rotate: 90deg;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 106px;
  left: 0;
  right: 0;
  max-width: 100%;
  align-items: center;
  background-color: #00448b;
  gap: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  transition: height 0.5s ease-in-out, visibility 0.5s;
  height: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  visibility: hidden;
}

.bottom-nav#show {
  height: 160px;
  visibility: visible;
}

.bottom-nav#hidden {
  height: 0;
  visibility: hidden;
}

.nav-user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .nav.container {
    margin: 1rem 4rem 1rem 4rem;
  }
}

@media screen and (max-width: 850px) {
  .nav.container {
    margin: 1rem 3rem 1rem 3rem;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-button {
    transition: none !important;
  }
}

.nav.child {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  gap: 1rem;
}

.nav.child.right {
  width: 40%;
  justify-content: right;
}

.nav.child.left {
  width: 20%;
  min-width: 225px;
  justify-content: left;
}

.nav.child h2 {
  font-size: 20px;
}

.nav-button {
  padding: 0.7rem 1.6rem;
  background-color: #54769b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  min-width: 50px;
  text-align: center;
  font-size: 0.8rem !important;
  transition: 0.5s background ease-in-out, 0.5s border-radius ease-in-out;
}

.nav-button:hover {
  border-radius: 8px;
  background-color: #93b9e2;
}

.nav-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.7rem;
}

.profile-pic {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.side-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.side-info p {
  text-align: left;
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

#logout {
  font-weight: 100;
  font-size: 13px;
  color: rgb(255, 104, 104);
  cursor: pointer;
}

#logout:hover {
  text-decoration: underline;
}

.loading.nav {
  width: 100px;
  height: 10px;
  margin-bottom: 0 !important;
  background-color: lightgray;
  position: relative;
  overflow: hidden; /* Ensures the animation stays within the loading element */
}

.loading.nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, darkgray);
  animation: swoosh 1s infinite;
}

.loading.nav.smaller {
  width: 50px;
}

.lower-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#admin {
  font-weight: 100;
  font-size: 13px;
  color: rgb(104, 195, 255);
  cursor: pointer;
}

#admin:hover {
  text-decoration: underline;
}

@keyframes swoosh {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.notifications {
  position: relative;
}

.notification-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  width: 300px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: var(--shadow);
  max-height: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification-dropdown::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust as needed */
  left: calc(50% - 10px); /* Adjust as needed */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 2;
}

.notification-dropdown#show {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.notification-dropdown#hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.notification-dropdown h3 {
  padding: 1rem 0 0 1rem;
  margin: 0;
}

.notif-subtitle {
  font-size: 0.8rem !important;
  padding: 0 0 1rem 1rem;
  border-bottom: 1px solid lightgray;
}

.notification-list {
  overflow: scroll;
  overflow-x: hidden;
}

.notification {
  padding: 1rem;
}

.action-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
