.content.profile {
  display: flex;
  flex-direction: row;
  color: black;
}

.container.profile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  width: 30%;
  height: fit-content;
  border-radius: 5px;
}

.profile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: black;
}

.profile-information img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.no-listings {
  display: flex;
  height: 100vh;
  background-color: rgb(224, 224, 224);
  align-items: center;
  justify-content: center;
}

.no-listings p {
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info h3 {
  font-size: 1.6rem;
  margin: 0;
}

.profile-info p {
  margin: 0;
  font-size: 0.8rem;
  color: darkgray;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.left h2 {
  margin: 0;
  font-size: 1.5rem;
}

.left p {
  margin: 0;
  font-size: 1rem;
}

.right {
  justify-content: right;
  font-size: 1rem;
  align-items: center;
}

.right svg {
  cursor: pointer;
}

.loading {
  width: 250px;
  height: 20px;
  margin-bottom: 10px !important;
  background-color: lightgray;
  position: relative;
  overflow: hidden; /* Ensures the animation stays within the loading element */
}

.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, darkgray);
  animation: swoosh 1s infinite;
}

.loading.p {
  width: 200px;
}

@keyframes swoosh {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.first-time {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px lightgray;
  transition: 0.3s ease-in-out;
}
.first-time:hover {
  transform: scale(1.02);
}

.first-time-icon {
  --fa-animation-iteration-count: 1;
}

.right {
  text-align: left;
}

.right h5 {
  margin: 0;
  font-size: 1rem;
}

.right p {
  margin: 0;
  font-size: 0.9rem;
}

.left svg {
  color: orange;
}

.more-about-profile p {
    font-size: 1rem;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.edit-profile h5 {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.edit-profile input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.edit-profile label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.edit-profile input[type="number"] {
  width: 20%;
  justify-content: left;
  margin-right: auto;
}

.edit-profile button {
  padding: 0.5rem 1rem;
  background-color: #81858a;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem !important;
  transition: 0.5s ease-in-out;
}

.edit-profile button.ready {
  background-color: #19a719;
}

.edit-profile button.ready:hover {
  background-color: #008600;
}

.program-row {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

@media screen and (max-width: 1300px) {
  .content {
    padding: 1rem 5rem 1rem 5rem;
  }
}

@media screen and (max-width: 700px) {
  .content {
    padding: 1rem 3rem 1rem 3rem;
  }
  .content.profile {
    flex-direction: column;
  }
  .container.profile {
    width: 90%;
  }
}